.App {
  font-family: Arial, sans-serif;
}

.container {
  max-width: 600px;
}

.card-header {
  background-color: #343a40;
}

.card-body {
  background-color: #f8f9fa;
}

.form-control {
  border-radius: 0.25rem;
}

.btn-block {
  width: 100%;
  padding: 0.5rem;
  border-radius: 0.25rem;
}

.card-footer {
  background-color: #f1f1f1;
}

.card {
  border: none;
}

.todo-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.todo-title {
  font-weight: bold;
  text-decoration: underline;
}

.delete-btn {
  margin-left: 10px;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.delete-btn i {
  font-size: 1rem;
}
